#btn-scroll {
  top: 50%;
  right: 0;
  position: fixed;
  padding: 12px;
  background-color: $black;
  border: none;

  .btn-scroll-arrow {
    font-size: 20px;
    font-weight: 500;
    color: $white;
    animation: blink 0.8s steps(1, start) infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  &:active,
  &:hover {
    cursor: pointer;
  }
}
