* {
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #212763;
  color: #fff;
}

body {
  font-family: "Syne", sans-serif;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: auto;
}

h1 {
  color: #16182d;
  font-size: 48px;
  line-height: 53px;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
}
@media screen and (max-width: 530px) {
  h1 {
    font-size: 36px;
    line-height: inherit;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 48px;
  line-height: 53px;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #16182d;
  width: 65%;
}
@media screen and (max-width: 1300px) {
  h2 {
    font-size: 40px;
    line-height: 50px;
    width: 60%;
  }
}
@media screen and (max-width: 1100px) {
  h2 {
    font-size: 38px;
    line-height: 45px;
  }
}
@media screen and (max-width: 1000px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 920px) {
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media screen and (max-width: 780px) {
  h2 {
    width: 100%;
    text-align: start;
    font-size: 36px;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 33px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #16182d;
  text-transform: uppercase;
}

h4 {
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}
@media screen and (max-width: 940px) {
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 540px) {
  h4 {
    font-size: 14px;
    line-height: 18px;
  }
}

h5 {
  font-size: 19px;
  color: #16182d;
  font-weight: 600;
  line-height: 27px;
}
@media screen and (max-width: 920px) {
  h5 {
    font-size: 15px;
  }
}

h6 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 16px;
  border-top: 1px solid #fff;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  h6 {
    font-size: 12px;
    line-height: 22px;
  }
}
@media screen and (max-width: 780px) {
  h6 {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  h6 {
    padding-top: 8px;
  }
}

p {
  color: #676a70;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 1238px) {
  p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0px;
  }
}

a,
button {
  transition: 0.3s all;
}
a:active, a:hover,
button:active,
button:hover {
  transition: 0.3s all;
  cursor: pointer;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  60% {
    transform: translate(0, -30px);
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.why-beleasing {
  margin: 100px;
}
@media screen and (max-width: 500px) {
  .why-beleasing {
    margin: 55px;
  }
}
.why-beleasing__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
@media screen and (max-width: 1000px) {
  .why-beleasing__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 530px) {
  .why-beleasing__container h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 320px) {
  .why-beleasing__container h1 {
    font-size: 28px;
  }
}
.why-beleasing__title {
  max-width: 980px;
  width: 100%;
  margin-right: 10%;
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  .why-beleasing__title {
    max-width: 500px;
    margin: 25px 0;
    text-align: center;
  }
}
.why-beleasing__description .description {
  margin-top: 35px;
  margin-bottom: 60px;
}

.advantages {
  display: flex;
  list-style-type: none;
  align-items: start;
  padding: 0px;
}
@media screen and (max-width: 1238px) {
  .advantages {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .advantages {
    align-items: center;
  }
}
.advantages__item {
  margin: 0 12px 40px 12px;
}
.advantages__item:active, .advantages__item:hover {
  transition: all 0.3s;
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: one;
  animation-timing-function: ease-in;
}
@media screen and (max-width: 1238px) {
  .advantages__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 530px) {
  .advantages__img {
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .advantages__img {
    width: 300px;
  }
}
.advantages .home-icon1 {
  width: 80px;
  height: 80px;
  border: 1px solid #e7e7e7;
  border-radius: 100% 100%;
  text-align: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 1238px) {
  .advantages .home-icon1 {
    margin: 0;
  }
}
.advantages .icon {
  margin-top: 20px;
}
.advantages .title-text {
  margin-bottom: 10px;
}
@media screen and (max-width: 1238px) {
  .advantages .title-text {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0px;
    margin-left: 10px;
  }
}

.renting {
  background-color: #f4f4f4;
}
.renting__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .renting__container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 920px) {
  .renting__container {
    margin: 0 auto;
    max-width: 708px;
    padding: 20px;
  }
}
@media screen and (max-width: 650px) {
  .renting__container {
    display: block;
  }
}
.renting__main-text {
  width: 100%;
}
.renting__small-container {
  width: 50%;
  margin-right: 15px;
  margin-left: 20px;
}
@media screen and (max-width: 960px) {
  .renting__small-container {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 920px) {
  .renting__small-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .renting__small-container {
    margin: 20px;
  }
}
.renting__title {
  margin-bottom: 45px;
}
.renting__description {
  margin-bottom: 40px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  padding: 20px 60px 20px 50px;
  border-width: 1px;
  border-radius: 0px;
  background-color: #16182d;
  color: #fff;
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .btn {
    margin: 0px auto;
  }
}
@media screen and (max-width: 340px) {
  .btn {
    width: 100%;
    padding: 20px;
  }
}
.btn:active, .btn:hover {
  background-color: #212763;
}
.btn__btn-arrow {
  margin-left: 20px;
  text-align: center;
}

.class-images__audi {
  width: 440px;
  height: 375px;
  margin-right: 15px;
}
@media screen and (max-width: 1200px) {
  .class-images__audi {
    width: 290px;
    height: 254px;
  }
}
@media screen and (max-width: 650px) {
  .class-images__audi {
    width: 430px;
    height: 360px;
  }
}
@media screen and (max-width: 478px) {
  .class-images__audi {
    width: 285px;
    height: 246px;
  }
}

.car-classification__list {
  display: flex;
  align-items: center;
  padding: 8px 0;
  list-style-type: none;
}
.car-classification__arrow-list {
  margin-right: 10px;
  margin-top: 3px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.car-type {
  margin-top: 100px;
}
.car-type__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 1000px) {
  .car-type__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}
.car-type__container {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
@media screen and (max-width: 1000px) {
  .car-type__container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 40px auto;
    max-width: 708px;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .car-type__container {
    margin: 10px;
  }
}
.car-type__container:active, .car-type__container:hover {
  transition: all 0.3s;
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: one;
  animation-timing-function: ease-in;
}
.car-type__img {
  width: 250px;
  height: 140px;
  margin-right: 20px;
}
.car-type .car-model {
  margin: 0 20px;
}

.car-partners {
  margin-top: 100px;
}
.car-partners .wrapper {
  display: flex;
  margin-bottom: 100px;
}
@media screen and (max-width: 940px) {
  .car-partners .wrapper {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 800px) {
  .car-partners .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.car-partners__small-container {
  position: relative;
  display: inline-block;
}
.car-partners__small-container:hover .overlay {
  opacity: 5;
}
.car-partners__img {
  max-width: 700px;
  width: 100%;
  max-height: 520px;
  height: 100%;
}
.car-partners .overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(0deg, #000000 5%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
}
.car-partners__text {
  position: absolute;
  top: 80%;
  left: 6%;
}
@media screen and (max-width: 1050px) {
  .car-partners__text {
    top: 70%;
  }
}
@media screen and (max-width: 800px) {
  .car-partners__text {
    top: 80%;
  }
}
@media screen and (max-width: 450px) {
  .car-partners__text {
    top: 72%;
  }
}
@media screen and (max-width: 370px) {
  .car-partners__text {
    top: 68%;
  }
}
.car-partners__description {
  color: #fff;
}
@media screen and (max-width: 540px) {
  .car-partners__description {
    font-size: 12px;
    line-height: 18px;
  }
}
.car-partners__link {
  text-decoration: none;
  color: #fff;
}

.car-partners-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  list-style-type: none;
  gap: 20px;
  width: 100%;
  padding: 0;
}
.car-partners-list__icons {
  padding: 10px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.01);
  text-align: center;
  line-height: 0;
}
.car-partners-list__img {
  height: 100%;
  max-height: 75px;
  width: 150px;
}

.btn-scroll {
  top: 50%;
  right: 0;
  position: fixed;
  padding: 12px;
  background-color: #000;
  border: none;
  z-index: 9;
}
.btn-scroll:active, .btn-scroll:hover {
  cursor: pointer;
}
.btn-scroll__arrow {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  animation: blink 0.8s steps(1, start) infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.car-partners-banner {
  position: relative;
}
.car-partners-banner__img1 {
  width: 100%;
}
@media screen and (max-width: 780px) {
  .car-partners-banner__img1 {
    height: 100%;
  }
}
.car-partners-banner .banner-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  z-index: 3;
  height: fit-content;
  margin-bottom: 0;
}
.car-partners-banner .banner-container__size-text {
  color: #fff;
}
@media screen and (max-width: 900px) {
  .car-partners-banner .banner-container {
    bottom: 0px;
  }
}
@media screen and (max-width: 780px) {
  .car-partners-banner .banner-container {
    bottom: 20%;
  }
}
@media screen and (max-width: 500px) {
  .car-partners-banner .banner-container {
    bottom: 10%;
    padding: 20px;
  }
}
@media screen and (max-width: 320px) {
  .car-partners-banner .banner-container {
    bottom: 0%;
  }
}
.car-partners-banner__small-container {
  display: flex;
  align-items: center;
  margin: 20px;
}
@media screen and (max-width: 780px) {
  .car-partners-banner__small-container {
    max-width: 500px;
    width: 100%;
    padding-right: 30px;
    margin: 0 auto 30px auto;
  }
}
.car-partners-banner__star {
  font-size: 16px;
  color: #202448;
  opacity: 0.15;
  margin-right: 2px;
  transition: 0.3s ease-in;
}
.car-partners-banner__star-box {
  border: 1px solid #676a70;
  padding: 25px 25px 40px 25px;
  width: 20%;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  .car-partners-banner__star-box {
    padding: 20px 20px 35px 20px;
  }
}
@media screen and (max-width: 1100px) {
  .car-partners-banner__star-box {
    padding: 15px 15px 30px 15px;
  }
}
@media screen and (max-width: 900px) {
  .car-partners-banner__star-box {
    padding: 10px 10px 20px 10px;
  }
}
@media screen and (max-width: 780px) {
  .car-partners-banner__star-box {
    display: none;
  }
}
.car-partners-banner__star-line {
  margin: 28px 0 15px 0;
  background-color: #676a70;
  border: none;
  height: 1px;
}
.car-partners-banner p {
  color: #fff;
  text-transform: uppercase;
}

.information {
  display: flex;
  max-width: 1340px;
  width: 100%;
  margin: 40px auto;
}
@media screen and (max-width: 780px) {
  .information {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
  }
}
.information__details {
  width: inherit;
}
.information__details-2 {
  margin: auto 40px;
}
@media screen and (max-width: 780px) {
  .information__details-2 {
    margin: 0;
  }
}

.btn-size {
  margin: 20px;
}
@media screen and (max-width: 780px) {
  .btn-size {
    max-width: 500px;
    margin: 0 auto;
  }
}

.btn {
  border: none;
}
@media screen and (max-width: 1100px) {
  .btn {
    padding: 15px 50px 15px 40px;
  }
}
@media screen and (max-width: 900px) {
  .btn {
    padding: 12px 40px 12px 35px;
  }
}
@media screen and (max-width: 780px) {
  .btn {
    max-width: 250px;
    width: 100%;
    margin: 20px auto 20px 0px;
    padding: 18px 20px 18px 25px;
  }
}

.video-section {
  position: relative;
  overflow: hidden;
  max-height: 700px;
  margin-top: 50px;
}
.video-section__video {
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 770px) {
  .video-section__video {
    max-width: none;
    width: auto;
  }
}

.calculation-section {
  margin-top: -96px;
  background-color: #f4f4f4;
}

.video-container {
  position: absolute;
  top: 20%;
  left: 49%;
  transform: translateX(-50%);
  margin: 20px;
}
@media screen and (max-width: 950px) {
  .video-container {
    max-width: 708px;
  }
}
@media screen and (max-width: 770px) {
  .video-container {
    max-width: 485px;
  }
}
.video-container__title {
  color: #fff;
  width: 55%;
  margin-bottom: 25px;
}
@media screen and (max-width: 950px) {
  .video-container__title {
    width: 80%;
  }
}

.calculation {
  max-width: 1380px;
  width: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 950px) {
  .calculation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 708px;
  }
}
@media screen and (max-width: 770px) {
  .calculation {
    max-width: 485px;
  }
}
.calculation__box {
  padding: 30px 40px 40px 40px;
  margin: 1px;
  width: 25%;
  background-color: #fff;
  text-align: left;
}
@media screen and (max-width: 950px) {
  .calculation__box {
    width: auto;
    padding: 20px 30px 10px 30px;
  }
}
@media screen and (max-width: 770px) {
  .calculation__box {
    padding: 5px 20px 10px 30px;
  }
}
.calculation__small-title {
  color: #16182d;
  margin-bottom: 15px;
}
@media screen and (max-width: 950px) {
  .calculation__small-title {
    margin-bottom: 5px;
  }
}
.calculation__number {
  color: #16182d;
  font-size: 48px;
  line-height: 53px;
  font-weight: 600;
}
@media screen and (max-width: 950px) {
  .calculation__number {
    font-size: 28px;
    line-height: 35px;
    font-weight: 600;
  }
}
.calculation__dolar {
  font-size: 50px;
}

@media screen and (max-width: 950px) {
  .btn {
    margin: 0;
  }
}

.payment-section {
  background-color: #f4f4f4;
  padding-top: 50px;
}
.payment-section__small-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 770px) {
  .payment-section__small-container {
    display: block;
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding-bottom: 5px;
  }
}
.payment-section__car-img {
  width: 436px;
  margin-bottom: 45px;
}
@media screen and (max-width: 1210px) {
  .payment-section__car-img {
    width: 260px;
  }
}
@media screen and (max-width: 770px) {
  .payment-section__car-img {
    max-width: 485px;
    width: 100%;
    margin-bottom: 0px;
  }
}

.beleasing-pay {
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 770px) {
  .beleasing-pay {
    max-width: 485px;
    margin: 0 auto;
    text-align: left;
  }
}
.beleasing-pay__small-text {
  color: #73758a;
  margin-bottom: 10px;
  border: none;
  margin-top: 50px;
}
.beleasing-pay__main-title {
  width: 100%;
  margin-bottom: 50px;
}
.beleasing-pay__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  font-size: 16px;
  color: #16182d;
  list-style-type: none;
  padding: 0;
}
@media screen and (max-width: 770px) {
  .beleasing-pay__nav {
    display: block;
    font-size: 12px;
  }
}
.beleasing-pay__plus-icon {
  font-size: 37px;
  margin-right: 20px;
  margin-bottom: 3px;
  line-height: 19px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}
.beleasing-pay__nav-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 770px) {
  .beleasing-pay__nav-list {
    margin-bottom: 15px;
  }
}

.btn-payment-car {
  margin-top: 50px;
  margin-bottom: 100px;
}
@media screen and (max-width: 770px) {
  .btn-payment-car {
    margin-bottom: 50px;
  }
}

.footer-section {
  width: 100%;
}
.footer-section__footer-template {
  background-color: #16182d;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-section__text {
  border: none;
  padding-top: 12px;
  text-transform: none;
}
@media screen and (max-width: 770px) {
  .footer-section__text {
    line-height: 0;
    margin-bottom: 14px;
  }
}
.footer-section__logo-footer {
  display: flex;
  align-items: end;
}
@media screen and (max-width: 600px) {
  .footer-section__logo-footer {
    justify-content: center;
    margin-bottom: 20px;
  }
}
.footer-section__logo-img {
  width: 87px;
  margin-right: 20px;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0 10px 0 10px;
}
@media screen and (max-width: 600px) {
  .container-logo {
    display: block;
    margin-bottom: 50px;
  }
}

.social-media__list {
  display: flex;
  gap: 50px;
  font-size: 18px;
  list-style-type: none;
  color: white;
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .social-media__list {
    justify-content: center;
    margin-right: 40px;
  }
}
.social-media__links {
  text-decoration: none;
  color: white !important;
}

.footer-nav {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
  padding: 40px 10px 0 10px;
}
.footer-nav ul li:first-child {
  color: white;
}
.footer-nav a:link,
.footer-nav a:visited {
  text-decoration: none;
  color: #6d6f7d;
}
.footer-nav a:hover,
.footer-nav a:active {
  text-decoration: underline;
  color: white;
}
@media screen and (max-width: 600px) {
  .footer-nav {
    display: block;
    text-align: center;
  }
}
.footer-nav__contacts {
  list-style-type: none;
  color: white;
  width: 25%;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: start;
  font-family: "Poppins";
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .footer-nav__contacts {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
.footer-nav__contacts :hover {
  cursor: pointer;
}
.footer-nav__contact-list {
  padding-bottom: 10px;
}
.footer-nav__finance-detalies {
  list-style-type: none;
  padding: 0;
  width: 25%;
  line-height: 1.8;
  color: #6d6f7d;
  font-weight: 500;
  font-size: 14px;
  text-align: start;
  font-family: "Poppins";
}
@media screen and (max-width: 600px) {
  .footer-nav__finance-detalies {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.links-text .text:nth-child(5) {
  color: white;
  margin-top: 25px;
}

.copyright {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 15px;
  color: #6d6f7d;
  margin-bottom: 50px;
  padding: 0 10px 0 10px;
}
@media screen and (max-width: 600px) {
  .copyright {
    text-align: center;
  }
}

.new-cars-section {
  background-color: #f4f4f4;
}
.new-cars-section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px 50px 20px;
}
@media screen and (max-width: 800px) {
  .new-cars-section__title {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) and (max-width: 550px) {
  .new-cars-section__title {
    width: 100%;
  }
}
.new-cars-section__main-text {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .new-cars-section__main-text {
    margin-bottom: 30px;
  }
}
.new-cars-section__btn {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Syne";
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  padding: 20px 50px 20px 50px;
  border: 1px solid #f4f4f4;
  background-color: #fff;
}
.new-cars-section__btn:hover {
  transition: none;
  border: 1px solid #fff;
  background-color: #f4f4f4;
}
.new-cars-section__btn-icon {
  font-size: 16px;
}

.new-model-cars {
  display: flex;
  gap: 25px;
  padding: 10px 20px 100px 20px;
}
@media screen and (max-width: 800px) {
  .new-model-cars {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) and (max-width: 550px) {
  .new-model-cars {
    width: 100%;
  }
}
.new-model-cars__box {
  background-color: #fff;
}
.new-model-cars__img {
  margin-bottom: -4px;
}
@media screen and (max-width: 800px) {
  .new-model-cars__img {
    width: 484px;
    padding-top: 30px;
  }
}
.new-model-cars__cars-name {
  text-transform: uppercase;
  padding: 30px 0px 20px 34px;
}
.new-model-cars__cars-name::after {
  border: 0.5px solid #e7e7e7;
  content: "";
  display: block;
  height: 0px;
  width: 90%;
  margin-top: 25px;
}
.new-model-cars__small-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 34px;
}
.new-model-cars__small-text:hover {
  cursor: pointer;
}
.new-model-cars__small-text-arrow {
  margin-right: 34px;
  color: #000;
  padding: 6px;
  font-size: 20px;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 0.5px;
  border-radius: 100%;
}

.menu {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}
.menu__small-container {
  display: flex;
  gap: 40px;
}
.menu__img-loco {
  width: 140px;
}
@media screen and (max-width: 768px) {
  .menu__img-loco {
    width: 110px;
  }
}
.menu__text {
  color: #73758a;
  padding-top: 14px;
}
@media screen and (max-width: 960px) {
  .menu__text {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .menu .btn-bar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu .btn-bar {
    font-size: 38px;
    background-color: #fff;
    border: none;
    padding: 0 10px 0 0;
    line-height: 0px;
    z-index: 99;
  }
}
@media screen and (min-width: 769px) {
  .menu .sidebar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu .sidebar {
    position: fixed;
    width: 350px;
    right: 0;
    height: 100%;
    background: white;
    transition: 0.5s all;
    z-index: 51;
    transform: translateX(100%);
  }
}
@media screen and (max-width: 768px) {
  .menu .sidebar__right-bar {
    position: fixed;
    top: 30%;
    right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    list-style-type: none;
  }
}
@media screen and (max-width: 768px) {
  .menu .sidebar__list-bar {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0 15px 0;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 768px) {
  .menu .sidebar__text {
    border: none;
    color: #16182d;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .menu .sidebar__links-bar {
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  .menu .sidebar-translate {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 768px) {
  .menu .close-icon {
    display: none;
  }
}

.container-bar {
  display: flex;
  justify-content: space-between;
}

.menu-details__list {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .menu-details__list {
    display: none;
  }
}
.menu-details__list-details {
  display: flex;
  gap: 10px;
  color: #16182d;
  font-weight: 600;
  font-size: 15px;
  padding: 17px 20px;
  text-transform: uppercase;
  text-align: center;
}
.menu-details__list-details:hover {
  background-color: #16182d;
  color: #fff;
  cursor: pointer;
}
.menu-details__arrow-icon {
  font-size: 20px;
  font-weight: 400;
}

.hover-container {
  padding-top: 40px;
}
.hover-container__cars {
  display: flex;
  gap: 20px;
  padding: 0;
}
.hover-container__text {
  color: #16182d;
}
.hover-container__img {
  width: 252px;
}
.hover-container__cars-img-list {
  list-style-type: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.hover-container__cars-img-list:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.hover-container__all-cars {
  color: #16182d;
  padding-top: 0px;
  padding-bottom: 50px;
}
.hover-container__all-cars::before {
  border: 0.5px solid #e7e7e7;
  content: "";
  display: block;
  height: 0px;
  width: 100%;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(22, 24, 45, 0.4);
  }
}

/*# sourceMappingURL=main.css.map */
