.payment-section {
  background-color: $background-color;
  padding-top: 50px;

  &__small-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 770px) {
      display: block;
      text-align: center;
      margin: 0px 10px 0px 10p;
    }
  }

  &__car-img {
    @media screen and (max-width: 1210px) {
      width: 260px;
    }

    @media screen and (max-width: 770px) {
      max-width: 485px;
      width: 100%;
    }
  }
}

.beleasing-pay {
  max-width: 100%;
  width: 100%;

  @media screen and (max-width: 770px) {
    max-width: 485px;
    margin: 0 auto;
    text-align: left;
  }

  &__small-text {
    color: $color--rating-1;
    margin-bottom: 10px;
  }

  &__main-title {
    width: 100%;
    margin-bottom: 40px;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    font-size: 16px;
    color: $color--primary;
    list-style-type: none;
    padding: 0;

    @media screen and (max-width: 770px) {
      display: block;
      line-height: 60px;
      font-size: 12px;
    }
  }

  &__plus-icon {
    font-size: 37px;
    margin-right: 20px;
  }

  &__nav-list {
    display: flex;
    align-items: center;
  }
}

.btn-payment-car {
  margin-top: 40px;
}
