// Color variables
$color--primary: #16182d;
$color--secondary: #676a70;
$color--tertiary: #212763;
$color--border: #e7e7e7;
$color--btn-hover: $color--tertiary;

// Global variables
$white: #fff;
$black: #000;
$background-color: #f4f4f4;

// Rating variables
$color--rating: #202448;

// Payment section variables
$color--small-text: #73758a;

//Footer section variables
$colo-links: #6d6f7d;
